.transaction_history{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 1000px;
    background-color: rgb(247, 238, 238);
}

thead th{
    font-size: 20px;
    color: white;
}

.table_head{
    
    height: 50px;
    background-color: #CDD5C6;
}

.column{
   height: 50px;
   text-align: center;
   /* background-color: #FBF2ED; */
}

tr:nth-child(even){
    background-color: rgb(216, 212, 212);
}